.my__new__button{
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 100%;
}