*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor-titulo {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    width: 100%;

}

.app__title{
    font-size: 4rem;
    color: #283845;
    text-align: right;
    margin-top: 20px;
    margin-right: 1rem;
}
.app__subtitle{
    color: #0F8983;
    text-align: right;
    margin-right: 1rem;
}

.barra-color-azul{
    display: flex;
    width: 100%;
    background: #16C9C0;
    height: 14px;
}
.contenedor-formulario-foto{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: 100%;
}
.logoPuche{
    display:flex;
    width: 50%;
}
.logoMetaescuela2{
    display:flex;
    width: 20%;
}
.logoMetaescuela{
    display:none;
}

.contenedor-formulario{
    background-color: #76D8C8;
    display:flex;
    width: 50%;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 1rem;
}

@media screen and (max-width: 800px) {
    h1,h4{
        text-align: center;
    }
    .barra-color-azul,.logoMetaescuela2,.logoPuche{
        display: none;
    }
    .contenedor-formulario-foto{
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .logoMetaescuela{

        display:flex;
        width: 20%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .contenedor-formulario{
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-left: 9rem;
        margin-right: 9rem;
        border-radius: 3rem;
    }
}