.register__form__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    .shared__field{
        display: flex;
        gap: 10px;
    }
}
.register__button{
    height: 40px;
    padding: 0 4%;
    background: #EA9696;
    color: #F4FBFA;
    border: 1px solid #283845;
    box-sizing: border-box;
    border-radius: 9px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", serif;
    &:hover{
        background: #ed8282;
        color: #F4FBFA;
        border: 1px solid #283845;
        box-sizing: border-box;
        border-radius: 9px;
        cursor: pointer;
    }
    &:active{
        transform: translateY(2px);
        background-color: #de7070;
    }
}