.single__product__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 3% 0;
    @media only screen and (max-width:1300px){
        padding: 5%;
    }
}
.single__product__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #283845;
    .first__data {
        display:flex;
        justify-content: center;
        gap: 10px;
        padding: 1% 2%;
        background-color: #FBEEC2;
        border-radius: 5px;
        span:last-child{
            font-weight: 600
        };
    }
    .second__data{
        display:flex;
        justify-content: center;
        gap: 10px;
        padding: 1% 2%;
        background-color: #EAF4F4;
        border-radius: 5px;
        span:last-child{
            font-weight: 600
        };
    }
}
.single__product__body{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.single__product__tittle{
    padding: 2% 5%;
    text-align: center;
    color: #283845;
    background-color: #BBE7DF;
    border-radius: 5px;
}
.single__product__description{
    display: flex;
    justify-content: center;

    padding: 5%;
    color: #283845;
    background-color: #EAF4F4;
    border-radius: 5px;
}
.single__product__iamge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}
.single__product__info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #E5FDFF;
    padding: 3% 4%;
    color: #283845;
    font-weight: 500
}
.single__product__buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3% 4%;
    font-weight: 500;
    .add__cart{
        display: flex;
        justify-content: space-around;
    }
    .button__style{
        font-size: 18px;
        font-weight: 500;
        color: #F4FBFA;
        padding: 0 10px;
        border-radius: 8px;
        height: 40px;
        font-family: "Poppins", serif;
        cursor: pointer;
        &:disabled{
            background-color: #bfd0dd;
            color: #F4FBFA;
            cursor:not-allowed;
        }
    }
    .button__add{
        background-color: #4399A5;
        border: 1px solid #283845;
        &:hover{
            background-color: #27aea8;
            color: #F4FBFA;
        }
        &:active{
            background-color: #1c716d;
            color: #F4FBFA;
            transform: translateY(2px);
        }
        &:disabled{
            background-color: #bfd0dd;
            color: #F4FBFA;
            cursor:not-allowed;
        }
        
    }
    .button__buy{
        background-color: #75DDD8;
        border: 1px solid #283845;
        &:hover{
            background-color: #44aea9;
            color: #F4FBFA;
        }
        &:active{
            background-color: #11736e;
            color: #F4FBFA;
            transform: translateY(2px);
        }
        &:disabled{
            background-color: #bfd0dd;
            color: #F4FBFA;
            cursor:not-allowed;
        }
    }
}