.img__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
       animation: mylogo 3s infinite; 
    }
    
}
.sad__face__animation{
    animation: sadface 3s infinite;
}
@keyframes mylogo{
    50% {transform: rotate(360deg);} 
}
@keyframes sadface{
    50% {transform: translateY(10px);} 
}
    
